body {

	background-color: #eb9500;
	background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
}

.burgerImg {

	width: 20vw;
}

.burgerDiv {

	text-align: center;
}

.header {

	font-family: 'Permanent Marker', cursive;
	font-size: 15vh;
}

.heading {

	font-family: 'Permanent Marker', cursive;
	font-size: 5vh;
}

li {

	font-family: 'Patrick Hand', cursive;
	font-size: 3vh;
	margin-bottom: 2vh; 
}

.submitOrder {

	font-family: 'Patrick Hand', cursive;
	font-size: 3vh;
	margin-bottom: 2vh; 
}

.submitOrderBtn {

	font-family: 'Patrick Hand', cursive;
	font-size: 3vh;
}